.jumbotron {
  background-color: #2E8B57;
}

.card-product {
	flex: 1 150px;
	padding: 2px 5px 2px 5px;
	margin-top: 10px;
}

.btn-product {
  width: 100%;
}

footer {
  background-color: lightgreen;
  padding: 5px 10px;
  margin-top: 20px;
}

/* unvisited link */
footer a:link {
  color: #2E8B57;
}

/* visited link */
footer a:visited {
  color: darkblue;
}

/* mouse over link */
footer a:hover {
  color: darkred;
}

/* selected link */
footer a:active {
  color: darkred;
}
